.input-wrapper {
  width: 95%;
  display: block;
  position: relative;
  margin: 10px auto 10px;
}

.input-wrapper input {
  width: 100%;
  font-weight: 500;
  background-color: #ddd;
  border: 2px solid transparent;
  outline: 0;
  border-radius: 2px;
  padding: 10px;
  transition: border 0.5s, transform 0.5s;
}
.input-wrapper input:focus {
  border: 2px solid royalblue;
}

.input-wrapper .placeholder {
  display: inline-block;
  position: relative;
  bottom: 30px;
  left: 10px;
  font-size: 14px;
  transition: transform 0.3s;
}
.input-filled {
  transform: translate(-10px, -30px);
  font-weight: 600;
}

.input-wrapper .checkmark {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 15px;
  height: 9px;
  border: solid green;
  border-width: 3px 3px 0 0;
  transform: rotateZ(135deg);
}

.input-wrapper .message {
  position: absolute;
  top: -15px;
  right: 0;
  display: block;
  color: red;
  font-size: 12px;
}

.button {
  display: block;
  width: 95%;
  margin: 10px auto 10px;
  padding: 10px 0;
  background-color: royalblue;
  color: white;
  border-radius: 2px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: rgb(55, 85, 177);
}

.input-wrapper:nth-child(2) ~ div {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
}
input[type='checkbox'] {
  transform: scale(1.25);
}